extends ../layout

block content
	.container
		.row
			form.form-horizontal(method="post",action="/admin/movie/new")
				input(type="hidden", name = "movie[_id]", value="#{movie._id}")
				.form-group
					label.col-sm-2.control-label(for="inputTitle") 电影名字
					.col-sm-10
						input#inputTitle.col-sm-10.form-control(type="text",name="movie[title]")
				.form-group
					label.col-sm-2.control-label(for="inputDoctor") 导演
					.col-sm-10
						input#inputDoctor.col-sm-10.form-control(type="text",name="movie[doctor]")
				.form-group
					label.col-sm-2.control-label(for="inputCountry") 国家
					.col-sm-10
						input#inputCountry.col-sm-10.form-control(type="text",name="movie[country]")
				.form-group
					label.col-sm-2.control-label(for="inputYear") 上映年份
					.col-sm-10
						input#inputYear.col-sm-10.form-control(type="text",name="movie[year]")
				.form-group
					label.col-sm-2.control-label(for="inputPoster") Poster
					.col-sm-10
						input#inputPoster.col-sm-10.form-control(type="text",name="movie[poster]")
				.form-group
					label.col-sm-2.control-label(for="inputFlash") Flash
					.col-sm-10
						input#inputFlash.col-sm-10.form-control(type="text",name="movie[flash]")
				.form-group
					label.col-sm-2.control-label(for="inputSummary") 简介
					.col-sm-10
						input#inputSummary.col-sm-10.form-control(type="text",name="movie[summary]")
				.form-group
					label.col-sm-2.control-label(for="inputLanguage") 语言
					.col-sm-10
						input#inputLanguage.col-sm-10.form-control(type="text",name="movie[language]")
				.form-group
					.col-sm-offset-2.col.sm-10
						button.btn.btn-default(type="submit") 录入